<%- include('./partials/adminheader')%>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/images/pexels-element-digital-1370295-min.jpg" alt="First slide">
        <div class="carousel-caption" style="top:35vh">
            <blockquote class="blockquote text-center bg-primary">
                <h3 class="mb-0"><%=arrayquotes[0].text%></h3>
                <h5 class="blockquote-footer"><cite title="Source Title"><%=arrayquotes[0].author%></cite></h5>
              </blockquote>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/pexels-pixabay-159711-min.jpg" alt="Second slide">
        <div class="carousel-caption" style="top:35vh">
            <blockquote class="blockquote text-center bg-primary">
                <h3 class="mb-0"><%=arrayquotes[1].text%></h3>
                <h5 class="blockquote-footer"><cite title="Source Title"><%=arrayquotes[1].author%></cite></h5>
              </blockquote>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/images/pexels-suzy-hazelwood-1098656-min.jpg" alt="Third slide">
        <div class="carousel-caption" style="top:35vh">
            <blockquote class="blockquote text-center bg-primary">
                <h3 class="mb-0"><%=arrayquotes[2].text%></h3>
                <h5 class="blockquote-footer"><cite title="Source Title"><%=arrayquotes[2].author%></cite></h5>
              </blockquote>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>